body {
    color: white;
    font-family: Arial, sans-serif;
    background-image: url("/static/img/backPokemon.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
}

.pokemon-card {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 10px;
}

img {
    max-width: 200px;
}

.btnexcluir,
.btneditar{
    background-color: #c40000;
    color: yellow;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
}

.btnexcluir:hover,
.btneditar:hover{
    background-color: #ff0000;
}


